.generalSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--Spacing-24);
}

.generalSectionCard {
  padding: var(--Spacing-80) var(--Spacing-24);
  border-radius: var(--Radius-20);

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-image: url("/images/background-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.generalSectionCardLoading {
  padding: var(--Spacing-80) var(--Spacing-24);
  border-radius: var(--Radius-20);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--Neutral-800);
  height: 284px;
}

.generalSectionCardLoading > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--Neutral-0);
  gap: var(--Spacing-16);
}

.generalSectionCardLoading > div > p {
  font: var(--text-preset7);
}

.generalSectionCardRightImage img {
  height: 120px;
  width: 120px;
}

.generalSectionCardLeft {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-12);
}

.generalSectionCardLeft p:first-child {
  font: var(--text-preset4);
  color: var(--Neutral-0);
}

.generalSectionCardLeft p:last-child {
  font: var(--text-preset7);
  color: var(--Neutral-0);
}

.generalSectionCardRight {
  display: flex;
  align-items: center;
  gap: var(--Spacing-8);
}

.generalSectionCardRight p {
  font: var(--text-preset1);
  color: var(--Neutral-0);
}

.generalSectionStatusList {
  display: flex;
  align-items: center;
  gap: var(--Spacing-24);
  width: 100%;
}

@media (max-width: 960px) {
  .generalSectionCard {
    flex-direction: column;
    gap: var(--Spacing-24);
    padding: var(--Spacing-64) var(--Spacing-24);
  }
  .generalSectionCardLoading {
    height: 340.8px;
    width: 100%;
  }
  .generalSectionStatusList {
    flex-wrap: wrap;
  }
}

@media (max-width: 540px) {
  .generalSectionCardRight p {
    font: var(--text-preset2);
  }
}
